body {
    margin: 0 auto ;
    overflow-x: hidden;
}
.all_img {
    display: none;
}
.display_img {
    cursor: pointer ;
}
.dropdown-menu {
    background-color: whitesmoke;
    /*z-index: 100;*/
}
.nav_container {
    background-color: whitesmoke;
    padding-left: 9999px;
    padding-right: 9999px;
    margin-left: -9999px;
    margin-right: -9999px;
    position:sticky;
    top: 0;
    margin-bottom: 2em;
    z-index: 100;
}
.product_list > div {
    background-color: whitesmoke;
    text-align: center;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}
.product_slide {
    overflow-x: scroll;
}
.product_slide > div {
    text-align: center;
    border-radius: 1em;
    border: 1px black solid;
    margin: 0.5em;
    padding: 0.5em;
}

@media (min-width : 1201px) {
    body {
        width: clamp(1000px,70%,1200px) ;
    }

    .product_slide {
        width: clamp(1000px,70%,1200px) ;
    }


    .product_list {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cart_display {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:5em;
    }
    #product_page {
        grid-template-columns: 1fr 1fr;
    }
    #article {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em
    }
    .display_menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1em;

        width: clamp(1000px,70%,1200px) ;
        padding-bottom: 2em;
    }

    .display_menu > ul >li{
        border: 1px solid black;
        border-radius: 1em;
        padding: 0.5em;
        /*width: 500px;*/

    }
}

@media (min-width : 601px ) and (max-width: 1201px) {
    body {
        width: clamp(600px,80%,900px) ;
    }
    .product_list {
        grid-template-columns: 1fr 1fr;
    }
    #article {
        grid-template-columns: 1fr 1fr;
        gap: 2em
    }
    .product_slide {
        width: clamp(600px,80%,900px) ;
    }

    .display_menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;

        width: clamp(600px,80%,900px) ;
        padding-bottom: 2em;
    }
}
@media (max-width: 600px) {
    body {
        width: 100%
    }
    .product_list {
        grid-template-columns: 1fr;
        width: 90%
    }
    .display_menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        padding-bottom: 2em;
    }

}
